XML/src/main/resources/realtime.xml

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- copyright (c) 2004, clip interactive GmbH, Switzerland -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="issfcalendar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="event">
                    <xs:attribute name="id" type="xs:ID"/>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="site" type="xs:string"/>
                            <xs:element name="nation" type="xs:string"/>
                            <xs:element name="title" type="xs:string"/>
                            <xs:element name="year" type="xs:gYear"/>
                            <xs:element name="startdate" type="xs:dateTime"/>
                            <xs:element name="enddate" type="xs:dateTime"/>
                            <xs:element name="competition" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="date" type="xs:date"/>
                                        <xs:element name="issftitle" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>